@use 'list-page';
@use 'definition-list';
@use 'definition-form';

.dmn-list-layout {
  padding: 12px 12px 8px 12px;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Main Content */
.main-content {
  width: 100%;

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
